.company-page-wrap
    .mb-48px
        h2 What is [company name]?
        p
            | #{company} was founded in #{founded} in #{founded_year}. The headquarters is located in #{headquaters}.
    p.h4.pb-2.mb-2.text-uppercase.colorOrange In what states can you find #{company}?
    p [company name] provides insurance services in [number] states:
    .row
        .col
            .h2
                | #{company} US states presence
    .row.text-center
        .col-10.col-md-6.m-auto
            .d-flex.justify-content-between
                .square
                .square
                .square
                .square
                .square
                .square
                .square
                .square
                .square
                .square
                .square
                .square
                    .content.one ME
            .d-flex.justify-content-between
                .square
                .square
                .square
                .square
                .square
                .square
                .square
                    .content.one WI
                .square
                .square
                .square
                .square
                    .content.one VT
                .square
                    .content.one NH
            .d-flex.justify-content-between
                .square
                .square
                    .content WA
                .square
                    .content ID
                .square
                    .content MT
                .square
                    .content ND
                .square
                    .content MN
                .square
                    .content IL
                .square
                    .content MI
                .square
                .square
                    .content.one NY
                .square
                    .content.both MA
                .square
            .d-flex.justify-content-between
                .square
                .square
                    .content OR
                .square
                    .content NV
                .square
                    .content WY
                .square
                    .content SD
                .square
                    .content IA
                .square
                    .content IN
                .square
                    .content OH
                .square
                    .content PA
                .square
                    .content.both NJ
                .square
                    .content.both CT
                .square
                    .content.both RI
            .d-flex.justify-content-between
                .square
                .square
                    .content CA
                .square
                    .content UT
                .square
                    .content CO
                .square
                    .content NE
                .square
                    .content MO
                .square
                    .content KY
                .square
                    .content WV
                .square
                    .content.both VA
                .square
                    .content.both MD
                .square
                    .content.both DE
                .square
            .d-flex.justify-content-between
                .square
                .square
                .square
                    .content AZ
                .square
                    .content NM
                .square
                    .content KS
                .square
                    .content AR
                .square
                    .content TN
                .square
                    .content NC
                .square
                    .content.two SC
                .square
                    .content.both DC
                .square
                .square
            .d-flex.justify-content-between
                .square
                    .content.one AK
                .square
                .square
                .square
                .square
                    .content OK
                .square
                    .content LA
                .square
                    .content MS
                .square
                    .content.two AL
                .square
                    .content.two GA
                .square
                .square
                .square
            .d-flex.justify-content-between
                .square
                    .content HI
                .square
                .square
                .square
                .square
                    .content TX
                .square
                .square
                .square
                .square
                .square
                    .content.two FL
                .square
                .square
    .row.py-5
        .col.text-center
            p.d-flex.justify-content-between
                span
                    i.fas.fa-square(style='color: #6d9eeb')
                    |  #{company}
    h3.h2.mb-32px What are #{company} ratings?
    .row.company-box-rating-wrap.mb-32px
        .col-6.col-md-4.col-lg-2.mb-3
            .company-box-rating
                div 1989
                span year founded
        .col-6.col-md-4.col-lg-3.mb-3
            .company-box-rating
                div Good
                span financial strength
        .col-6.col-md-4.col-lg-3.mb-3
            .company-box-rating
                div 9999+
                span Long Time ICR
        .col-6.col-md-4.col-lg-3.mb-3
            .company-box-rating
                div XXXX
                span moodies
        .col-6.col-md-4.col-lg-3.mb-3
            .company-box-rating
                div 954
                span bbb
        .col-6.col-md-4.col-lg-3.mb-3
            .company-box-rating
                div A++
                span Claims Rating
        .col-6.col-md-4.col-lg-3.mb-3
            .company-box-rating
                div A++
                span user satisfaction
    .row.mb-64px
        .col-md-6.mb-32px
            h3.h4 What type of insurance can you purchase in [company name]?
            p [company name] offer you different insurance products, such as:
            ul.company-page-list
                li insurance product
                li insurance product
                li insurance product
                li insurance product
                li insurance product
                li insurance product
        .col-md-6.mb-32px
            h3.h4 What are car insurance rates in [company name]?
            p
                | The average price of auto insurance in [company name] is about [company average]. Usually rates vary by state. You can find the cheapest offers in [state] where the monthly average rate is
                strong.orange-strong [lowest price]
                | . The most expensive state average is
                strong.orange-strong [biggest price]
                |  in [state].
                |         table
            ul.company-page-list
                li insurance product
                li insurance product
                li insurance product
        .col-md-6.mb-32px
            h4.h4 What discounts provides [company name]?
            ul.company-page-list
                li insurance product
                li insurance product
                li insurance product
        .col-md-6.mb-32px
            h4.h4 [Company name] contact info:
            table.table
                tr
                    td website
                    td
                        a(href='#') www.leningrad.spb.ru
                tr
                    td phone
                    td
                        a(href='#') +380665300839
                tr
                    td address
                    td address address address
