.company-page-wrap
    .mb-48px
        h2 What is #{company}?
        p=shortDesc


    .row
        .col
            .h2 #{company} US states presence
            p #{company} provides insurance services in #{statesCount} #{statesCount === 1 ? 'state' : 'states'}:
    .row.text-center
        .col-10.col-md-6.m-auto
            .d-flex.justify-content-between
                .square
                .square
                .square
                .square
                .square
                .square
                .square
                .square
                .square
                .square
                .square
                .square.ME
                    .content.one ME
            .d-flex.justify-content-between
                .square
                .square
                .square
                .square
                .square
                .square
                .square.WI
                    .content.one WI
                .square
                .square
                .square
                .square.VT
                    .content.one VT
                .square.NH
                    .content.one NH
            .d-flex.justify-content-between
                .square
                .square.WA
                    .content WA
                .square.ID
                    .content ID
                .square.MT
                    .content MT
                .square.ND
                    .content ND
                .square.MN
                    .content MN
                .square.IL
                    .content IL
                .square.MI
                    .content MI
                .square
                .square.NY
                    .content.one NY
                .square.MA
                    .content.both MA
                .square
            .d-flex.justify-content-between
                .square
                .square.OR
                    .content OR
                .square.NV
                    .content NV
                .square.WY
                    .content WY
                .square.SD
                    .content SD
                .square.IA
                    .content IA
                .square.IN
                    .content IN
                .square.OH
                    .content OH
                .square.PA
                    .content PA
                .square.NJ
                    .content.both NJ
                .square.CT
                    .content.both CT
                .square.RI
                    .content.both RI
            .d-flex.justify-content-between
                .square
                .square.CA
                    .content CA
                .square.UT
                    .content UT
                .square.CO
                    .content CO
                .square.NE
                    .content NE
                .square.MO
                    .content MO
                .square.KY
                    .content KY
                .square.WV
                    .content WV
                .square.VA
                    .content.both VA
                .square.MD
                    .content.both MD
                .square.DE
                    .content.both DE
                .square
            .d-flex.justify-content-between
                .square
                .square
                .square.AZ
                    .content AZ
                .square.NM
                    .content NM
                .square.KS
                    .content KS
                .square.AR
                    .content AR
                .square.TN
                    .content TN
                .square.NC
                    .content NC
                .square.SC
                    .content.two SC
                .square.DC
                    .content.both DC
                .square
                .square
            .d-flex.justify-content-between
                .square.AK
                    .content.one AK
                .square
                .square
                .square
                .square.OK
                    .content OK
                .square.LA
                    .content LA
                .square.MS
                    .content MS
                .square.AL
                    .content.two AL
                .square.GA
                    .content.two GA
                .square
                .square
                .square
            .d-flex.justify-content-between
                .square.HI
                    .content HI
                .square
                .square
                .square
                .square.TX
                    .content TX
                .square
                .square
                .square
                .square
                .square.FL
                    .content.two FL
                .square
                .square
    .row.py-5
        .col.text-center
            p.d-flex.justify-content-between
                span
                    i.fas.fa-square(style='color: #6d9eeb')
                    |  #{company}
    if ratings.length
        h3.h2.mb-32px What are #{company} ratings?
        .row.company-box-rating-wrap.mb-32px
            .col-6.col-md-4.col-lg-2.mb-3
                each rating in ratings
                    .company-box-rating
                        div #{rating.val}
                        span #{rating.name}

    .row.mb-64px
        if products
            .col-md-6.mb-32px
                h3.h4 What type of insurance can you purchase in #{company}?
                p #{company} offer you different insurance products, such as:
                ul.company-page-list
                    each product in products
                        li=product
        if rates
            .col-md-6.mb-32px
                h3.h4 What are car insurance rates in #{company}?
                p
                    | The average price of auto insurance in #{company} is about #{avgRate}.
                    if minRate.rate & maxRate.rate
                        | Usually rates vary by state. You can find the cheapest offers in #{minRate.state} where the monthly average rate is
                        strong.orange-strong #{minRate.rate}
                        | . The most expensive state average is
                        strong.orange-strong #{maxRate.rate}
                        |  in #{maxRate.state}.
        if discounts
            .col-md-6.mb-32px
                h4.h4 What discounts does #{company} provide?
                ul.company-page-list
                    each discount in discounts
                        li=discount

        .col-md-6.mb-32px
            h4.h4 [Company name] contact info:
            table.table
                tr
                    td website
                    td
                        a(href='#') www.leningrad.spb.ru
                tr
                    td phone
                    td
                        a(href='#') +380665300839
                tr
                    td address
                    td address address address
