| [sc name="company_page_styles"]
.container
    .company-page-wrap
        .mb-48px
            .row
                .col-md-6
                    h2 What is #{company1.name}?
                    p
                        if company1.found["year"] || company1.found["parent"] || company1.found["place"]
                            | #{company1.name} was founded
                            | #{company1.found["place"] ? ` in ${company1.found["place"]}` : null}
                            | #{company1.found["year"] ? ` in ${company1.found["year"]}` : null}
                            | #{company1.found["parent"] ? ` by ${company1.found["parent"]}` : null}
                            | .
                        | #{company1.name} works as an #{company1.type} company
                        if company1.type || company1.number_of_employees
                            | #{company1.number_of_employees ? ` with a staff of ${company1.number_of_employees} employees` : null }.
                            | #{company1.head_quoters ? `. The headquarters is located in ${company1.head_quoters}` : null}
                        | .
                .col-md-6
                    h2 What is #{company2.name}?
                    p
                        if company2.found["year"] || company2.found["parent"] || company2.found["place"]
                            | #{company2.name} was founded
                            | #{company2.found["place"] ? ` in ${company2.found["place"]}` : null}
                            | #{company2.found["year"] ? ` in ${company2.found["year"]}` : null}
                            | #{company2.found["parent"] ? ` by ${company2.found["parent"]}` : null}
                            | .
                        | #{company2.name} works as an #{company2.type} company
                        if company2.type || company2.number_of_employees
                            | #{company2.number_of_employees ? ` with a staff of ${company2.number_of_employees} employees` : null }.
                            | #{company2.head_quoters ? `. The headquarters is located in ${company2.head_quoters}` : null}
                        | .
        if ((company1.statesCount > 0) || (company1.statesCount > 0))
            .container
                .row
                    .col
                        .h2 #{company1.name} and #{company2.name} US states presence
                .col-md-6
                    p #{company1.name} provides insurance services in #{company1.statesCount} #{company1.statesCount === 1 ? 'state' : 'states'}:
                .col-md-6
                    p #{company2.name} provides insurance services in #{company2.statesCount} #{company1.statesCount === 1 ? 'state' : 'states'}:
                .row.text-center
                    .col-10.col-md-6.m-auto
                        .d-flex.justify-content-between
                            .square
                            .square
                            .square
                            .square
                            .square
                            .square
                            .square
                            .square
                            .square
                            .square
                            .square
                            .square.ME
                                .content
                                    a(href='https://www.usainsurancerate.com/auto-insurance/car-insurance-in-maine/', title='Auto Insurance in Maine') ME
                        .d-flex.justify-content-between
                            .square
                            .square
                            .square
                            .square
                            .square
                            .square
                            .square.WI
                                .content
                                    a(href='https://www.usainsurancerate.com/auto-insurance/car-insurance-in-wisconsin/', title='Auto Insurance in Wisconsin') WI
                            .square
                            .square
                            .square
                            .square.VT
                                .content
                                    a(href='https://www.usainsurancerate.com/auto-insurance/car-insurance-in-vermont/', title='Auto Insurance in Vermont') VT
                            .square.NH
                                .content
                                    a(href='https://www.usainsurancerate.com/auto-insurance/car-insurance-in-new-hampshire/', title='Auto Insurance in New Hampshire') NH
                        .d-flex.justify-content-between
                            .square
                            .square.WA
                                .content
                                    a(href='https://www.usainsurancerate.com/auto-insurance/car-insurance-in-washington/', title='Auto Insurance in Washington') WA
                            .square.ID
                                .content
                                    a(href='https://www.usainsurancerate.com/auto-insurance/car-insurance-in-idaho/', title='Auto Insurance in Idaho') ID
                            .square.MT
                                .content
                                    a(href='https://www.usainsurancerate.com/auto-insurance/car-insurance-in-montana/', title='Auto Insurance in Montana') MT
                            .square.ND
                                .content
                                    a(href='https://www.usainsurancerate.com/auto-insurance/car-insurance-in-north-dakota/', title='Auto Insurance in North Dakota') ND
                            .square.MN
                                .content
                                    a(href='https://www.usainsurancerate.com/auto-insurance/car-insurance-in-minnesota/', title='Auto Insurance in Minnesota') MN
                            .square.IL
                                .content
                                    a(href='https://www.usainsurancerate.com/auto-insurance/car-insurance-in-illinois/', title='Auto Insurance in Illinois') IL
                            .square.MI
                                .content
                                    a(href='https://www.usainsurancerate.com/auto-insurance/car-insurance-in-michigan/', title='Auto Insurance in Michigan') MI
                            .square
                            .square.NY
                                .content
                                    a(href='https://www.usainsurancerate.com/auto-insurance/car-insurance-in-new-york/', title='Auto Insurance in New York') NY
                            .square.MA
                                .content
                                    a(href='https://www.usainsurancerate.com/auto-insurance/car-insurance-in-massachusetts/', title='Auto Insurance in Massachusetts') MA
                            .square
                        .d-flex.justify-content-between
                            .square
                            .square.OR
                                .content
                                    a(href='https://www.usainsurancerate.com/auto-insurance/car-insurance-in-oregon/', title='Auto Insurance in Oregon') OR
                            .square.NV
                                .content
                                    a(href='https://www.usainsurancerate.com/auto-insurance/car-insurance-in-nevada/', title='Auto Insurance in Nevada') NV
                            .square.WY
                                .content
                                    a(href='https://www.usainsurancerate.com/auto-insurance/car-insurance-in-wyoming/', title='Auto Insurance in Wyoming') WY
                            .square.SD
                                .content
                                    a(href='https://www.usainsurancerate.com/auto-insurance/car-insurance-in-south-dakota/', title='Auto Insurance in South Dakota') SD
                            .square.IA
                                .content
                                    a(href='https://www.usainsurancerate.com/auto-insurance/car-insurance-in-iowa/', title='Auto Insurance in Iowa') IA
                            .square.IN
                                .content
                                    a(href='https://www.usainsurancerate.com/auto-insurance/car-insurance-in-indiana/', title='Auto Insurance in Indiana') IN
                            .square.OH
                                .content
                                    a(href='https://www.usainsurancerate.com/auto-insurance/car-insurance-in-ohio/', title='Auto Insurance in Ohio') OH
                            .square.PA
                                .content
                                    a(href='https://www.usainsurancerate.com/auto-insurance/car-insurance-in-pennsylvania/', title='Auto Insurance in Pennsylvania') PA
                            .square.NJ
                                .content
                                    a(href='https://www.usainsurancerate.com/auto-insurance/car-insurance-in-new-jersey/', title='Auto Insurance in New Jersey') NJ
                            .square.CT
                                .content
                                    a(href='https://www.usainsurancerate.com/auto-insurance/car-insurance-in-connecticut/', title='Auto Insurance in Connecticut') CT
                            .square.RI
                                .content
                                    a(href='https://www.usainsurancerate.com/auto-insurance/car-insurance-in-rhode-island/', title='Auto Insurance in Rhode Island') RI
                        .d-flex.justify-content-between
                            .square
                            .square.CA
                                .content
                                    a(href='https://www.usainsurancerate.com/auto-insurance/car-insurance-in-california/', title='Auto Insurance in California') CA
                            .square.UT
                                .content
                                    a(href='https://www.usainsurancerate.com/auto-insurance/car-insurance-in-utah/', title='Auto Insurance in Utah') UT
                            .square.CO
                                .content
                                    a(href='https://www.usainsurancerate.com/auto-insurance/car-insurance-in-colorado/', title='Auto Insurance in Colorado') CO
                            .square.NE
                                .content
                                    a(href='https://www.usainsurancerate.com/auto-insurance/car-insurance-in-nebraska/', title='Auto Insurance in Nebraska') NE
                            .square.MO
                                .content
                                    a(href='https://www.usainsurancerate.com/auto-insurance/car-insurance-in-missouri/', title='Auto Insurance in Missouri') MO
                            .square.KY
                                .content
                                    a(href='https://www.usainsurancerate.com/auto-insurance/car-insurance-in-kentucky/', title='Auto Insurance in Kentucky') KY
                            .square.WV
                                .content
                                    a(href='https://www.usainsurancerate.com/auto-insurance/car-insurance-in-west-virginia/', title='Auto Insurance in West Virginia') WV
                            .square.VA
                                .content
                                    a(href='https://www.usainsurancerate.com/auto-insurance/car-insurance-in-virginia/', title='Auto Insurance in Virginia') VA
                            .square.MD
                                .content
                                    a(href='https://www.usainsurancerate.com/auto-insurance/car-insurance-in-maryland/', title='Auto Insurance in Maryland') MD
                            .square.DE
                                .content
                                    a(href='https://www.usainsurancerate.com/auto-insurance/car-insurance-in-delaware/', title='Auto Insurance in Delaware') DE
                            .square
                        .d-flex.justify-content-between
                            .square
                            .square
                            .square.AZ
                                .content
                                    a(href='https://www.usainsurancerate.com/auto-insurance/car-insurance-in-arizona/', title='Auto Insurance in Arizona') AZ
                            .square.NM
                                .content
                                    a(href='https://www.usainsurancerate.com/auto-insurance/car-insurance-in-new-mexico/', title='Auto Insurance in New Mexico') NM
                            .square.KS
                                .content
                                    a(href='https://www.usainsurancerate.com/auto-insurance/car-insurance-in-kansas/', title='Auto Insurance in Kansas') KS
                            .square.AR
                                .content
                                    a(href='https://www.usainsurancerate.com/auto-insurance/car-insurance-in-arkansas/', title='Auto Insurance in Arkansas') AR
                            .square.TN
                                .content
                                    a(href='https://www.usainsurancerate.com/auto-insurance/car-insurance-in-tennessee/', title='Auto Insurance in Tennessee') TN
                            .square.NC
                                .content
                                    a(href='https://www.usainsurancerate.com/auto-insurance/car-insurance-in-north-carolina/', title='Auto Insurance in North Carolina') NC
                            .square.SC
                                .content
                                    a(href='https://www.usainsurancerate.com/auto-insurance/car-insurance-in-south-carolina/', title='Auto Insurance in South Carolina') SC
                            .square
                            .square
                            .square
                        .d-flex.justify-content-between
                            .square.AK
                                .content
                                    a(href='https://www.usainsurancerate.com/auto-insurance/car-insurance-in-alaska/', title='Auto Insurance in Alaska') AK
                            .square
                            .square
                            .square
                            .square.OK
                                .content
                                    a(href='https://www.usainsurancerate.com/auto-insurance/car-insurance-in-oklahoma/', title='Auto Insurance in Oklahoma') OK
                            .square.LA
                                .content
                                    a(href='https://www.usainsurancerate.com/auto-insurance/car-insurance-in-louisiana/', title='Auto Insurance in Louisiana') LA
                            .square.MS
                                .content
                                    a(href='https://www.usainsurancerate.com/auto-insurance/car-insurance-in-mississippi/', title='Auto Insurance in Mississippi') MS
                            .square.AL
                                .content
                                    a(href='https://www.usainsurancerate.com/auto-insurance/car-insurance-in-alabama/', title='Auto Insurance in Alabama') AL
                            .square.GA
                                .content
                                    a(href='https://www.usainsurancerate.com/auto-insurance/car-insurance-in-georgia/', title='Auto Insurance in Georgia') GA
                            .square
                            .square
                            .square
                        .d-flex.justify-content-between
                            .square.HI
                                .content
                                    a(href='https://www.usainsurancerate.com/auto-insurance/car-insurance-in-hawaii/', title='Auto Insurance in Hawaii') HI
                            .square
                            .square
                            .square
                            .square.TX
                                .content
                                    a(href='https://www.usainsurancerate.com/auto-insurance/car-insurance-in-texas/', title='Auto Insurance in Texas') TX
                            .square
                            .square
                            .square
                            .square
                            .square.FL
                                .content
                                    a(href='https://www.usainsurancerate.com/auto-insurance/car-insurance-in-florida/', title='Auto Insurance in Florida') FL
                            .square
                            .square
                .row.py-5
                    .col-md-6.m-auto.text-center
                        p.d-flex.justify-content-between
                            span
                                i.fas.fa-square(style='color: #6d9eeb')
                                |  #{company1.name} is present
                            span
                                i.fas.fa-square(style='color: #e06666')
                                |  #{company2.name} is present
                            span
                                i.fas.fa-square(style='color: #ffd966')
                                |  Both companies are present
        .table-overflow
            table.table.carrier-comparison-table.table-check.table-striped
                thead
                    tr
                        th Discount Comparison
                        th(style='border-bottom-color: #999; text-align: center;')
                            if company1.link
                                a(href=`${company1.link}`) #{company1.name}
                            else
                                | #{company1.name}
                        th(style='border-bottom-color: #05477d; text-align: center;')
                            if company2.link
                                a(href=`${company2.link}`) #{company2.name}
                            else
                                | #{company2.name}
                tbody
                    each discount in discounts
                        tr
                            td.fbold
                                | #{discount[0]}
                            td.text-center
                                if discount[1]
                                    svg.table-checkbox(height='35px', viewbox='0 0 34 34', width='35px', xmlns='http://www.w3.org/2000/svg')
                                        g(fill='none', fill-rule='evenodd')
                                            path(d='M33,1 L11,33 L1,18', stroke='#f76b2b', stroke-width='2')
                                else
                                    svg.table-checkbox(height='35', viewbox='0 0 34 34', width='35', xmlns='http://www.w3.org/2000/svg')
                                        g(fill='none', fill-rule='evenodd')
                                            path(d='M33,1 L1,33 M1,1 L1,1 L33,33 L17,17', stroke='#f76b2b', stroke-width='2')
                            td.text-center
                                if discount[2]
                                    svg.table-checkbox(height='35px', viewbox='0 0 34 34', width='35px', xmlns='http://www.w3.org/2000/svg')
                                        g(fill='none', fill-rule='evenodd')
                                            path(d='M33,1 L11,33 L1,18', stroke='#f76b2b', stroke-width='2')
                                else
                                    svg.table-checkbox(height='35', viewbox='0 0 34 34', width='35', xmlns='http://www.w3.org/2000/svg')
                                        g(fill='none', fill-rule='evenodd')
                                            path(d='M33,1 L1,33 M1,1 L1,1 L33,33 L17,17', stroke='#f76b2b', stroke-width='2')
        br
        br
        br
        .table-overflow
            table.table.carrier-comparison-table.table-check.table-striped
                thead
                    tr
                        th Products Comparison
                        th(style='border-bottom-color: #999; text-align: center;')
                            if company1.link
                                a(href=`${company1.link}`) #{company1.name}
                            else
                                | #{company1.name}
                        th(style='border-bottom-color: #05477d; text-align: center;')
                            if company2.link
                                a(href=`${company2.link}`) #{company2.name}
                            else
                                | #{company2.name}
                tbody
                    each product in products
                        tr
                            td.fbold
                                | #{product[0]}
                            td.text-center
                                if product[1]
                                    svg.table-checkbox(height='35px', viewbox='0 0 34 34', width='35px', xmlns='http://www.w3.org/2000/svg')
                                        g(fill='none', fill-rule='evenodd')
                                            path(d='M33,1 L11,33 L1,18', stroke='#f76b2b', stroke-width='2')
                                else
                                    svg.table-checkbox(height='35', viewbox='0 0 34 34', width='35', xmlns='http://www.w3.org/2000/svg')
                                        g(fill='none', fill-rule='evenodd')
                                            path(d='M33,1 L1,33 M1,1 L1,1 L33,33 L17,17', stroke='#f76b2b', stroke-width='2')
                            td.text-center
                                if product[2]
                                    svg.table-checkbox(height='35px', viewbox='0 0 34 34', width='35px', xmlns='http://www.w3.org/2000/svg')
                                        g(fill='none', fill-rule='evenodd')
                                            path(d='M33,1 L11,33 L1,18', stroke='#f76b2b', stroke-width='2')
                                else
                                    svg.table-checkbox(height='35', viewbox='0 0 34 34', width='35', xmlns='http://www.w3.org/2000/svg')
                                        g(fill='none', fill-rule='evenodd')
                                            path(d='M33,1 L1,33 M1,1 L1,1 L33,33 L17,17', stroke='#f76b2b', stroke-width='2')
        br
        br
        br
        .table-overflow
            table.table.carrier-comparison-table.table-check.table-striped
                thead
                    tr
                        th Quotes Comparison
                        th(style='border-bottom-color: #999; text-align: center;')
                            if company1.link
                                a(href=`${company1.link}`) #{company1.name}
                            else
                                | #{company1.name}
                        th(style='border-bottom-color: #05477d; text-align: center;')
                            if company2.link
                                a(href=`${company2.link}`) #{company2.name}
                            else
                                | #{company2.name}
                tbody
                    each quote in quotes
                        tr
                            td.fbold
                                | #{quote[0]}
                            td.text-center
                                | #{quote[1]? `${quote[1]} $` : '-'}
                            td.text-center
                                | #{quote[2]? `${quote[2]} $` : '-'}
                    tr
                        td(style='border-top-width: 3px;border-top-color: #999;').fbold
                            | Average Quote
                        td(style='border-top-width: 3px;border-top-color: #999;').text-center
                            | #{company1.avgQuote ? `${company1.avgQuote} $` : '-'}
                        td(style='border-top-width: 3px;border-top-color: #999;').text-center
                            | #{company2.avgQuote ? `${company2.avgQuote} $` : '-'}
        br
        br
        br
        .mb-48px
            .row
                .col-md-6
                    h4.h4 How can you contact #{company1.name}?
                    table.table
                        if company1.contacts.website
                            tr
                                td website
                                td
                                    a(href="//" + company1.contacts.website target='_blank') #{company1.contacts.website}
                        if company1.contacts.phone
                            tr
                                td phone
                                td
                                    a(href=`tel: ${company1.contacts.phone}`) #{company1.contacts.phone}
                        if company1.contacts.address
                            tr
                                td address
                                td #{company1.contacts.address}
                .col-md-6
                    h4.h4 How can you contact #{company2.name}?
                    table.table
                        if company2.contacts.website
                            tr
                                td website
                                td
                                    a(href="//" + company2.contacts.website target='_blank') #{company2.contacts.website}
                        if company2.contacts.phone
                            tr
                                td phone
                                td
                                    a(href=`tel: ${company2.contacts.phone}`) #{company2.contacts.phone}
                        if company2.contacts.address
                            tr
                                td address
                                td #{company2.contacts.address}
        br
        br
        br
        .mb-48px
            .row
                .col-md-6
                    h4.h4 What are #{company1.name} ratings?
                    .row.company-box-rating-wrap.mb-32px
                        each rating in company1.ratings
                            .col-6.col-md-4.col-lg-2.mb-3
                                .company-box-rating
                                    div #{company1.ratings.val}
                                    span #{company1.ratings.name}
                .col-md-6
                    h4.h4 What are #{company2.name} ratings?
                    .row.company-box-rating-wrap.mb-32px
                        each rating in company2.ratings
                            .col-6.col-md-4.col-lg-2.mb-3
                                .company-box-rating
                                    div #{company2.ratings.val}
                                    span #{company2.ratings.name}
| [sc name="comparison_page_scritps" data="#{states}"]