| [sc name="state_pages_styles"]
| [sc name="states_top_get_quotes" bg_class="#{bgClass}" state_title="#{stateTitle}" seal_img_url="#{sealUrl}"]
if cities
    .container.pt-5
        .row
            .col
                p.h2.text-uppercase Car insurance cost in #{stateTitle} cities
                p.lead
                    | Car insurance costs in #{stateTitle} vary by city, the average premium per month in #{stateTitle} is about #{cities.avgRate} $. The price range varies between from #{cities.minRate} $ to #{cities.maxRate} $, and the cities with cheapest car insurance are #{cities.threeCheapest}.
                table.table.table-sm.table-hover.table-borderless.table-striped
                    thead
                        tr
                            th(scope='col') Rank
                            th(scope='col') City
                            th(scope='col') Avg. Monthly Premium
                    tbody
                        each item in cities.cityData
                            tr(title=`Average annual premium in ${item.City}, ${stateAbbr} is about ${item.AvgPremium * 12} $`)
                                td(scope='row') #{item.Rank}
                                td #{item.City}
                                td #{item.AvgPremium} $

.container.py-3
    .row
        .col
            p.h2.text-uppercase What are the cheapest car insurance offers in #{stateTitle}?
            p.lead
                | The average annual premium in #{stateTitle} is about #{cheapest.avgRate} $, but there are many more affordable car insurance offers, the cheapest variants offer #{cheapest.threeCheapest}.
            table.table.table-sm.table-hover.table-borderless.table-striped
                thead
                    tr
                        th Rank
                        th Company
                        th Avg. Monthly Premium
                tbody
                    each item in cheapest.companies
                        tr(title=`${item.company_name} average annual premium in ${stateTitle} is about ${item.avg_annual_premium * 12} $`)
                            td(scope='row') #{item.rank}
                            if companies_urls[`${item.company_name}`]
                                td
                                    a(href=`${companies_urls[`${item.company_name}`].page_url}`, target="_blank", title=`Car insurance in ${item.company_name}`) #{item.company_name}
                            else
                                td #{item.company_name}
                            td #{item.avg_annual_premium} $

| [sc name="states_get_quotes_second" bg_class="#{bgClass}" state_title="#{stateTitle}" seal_img_url="#{sealUrl}"]
if mostReliable
    .container.py-3
        .row
            .col
                p.h2.text-uppercase Most reliable insurance companies in #{stateTitle}
                p.lead
                    | Everybody is looking for the cheapest car insurance offers. But it is also important to find a company that will sufficiently cover your expenses in case of an accident. In this case we recommend you to take a look at our list of best insurance companies in #{stateTitle}. All organizations have a high level of financial strength, which means you can be sure about their ability to fulfill its policy and contractual obligations.
                .row.text-center
                    each item in mostReliable
                        if item.logo
                            .col-md-3.m-auto
                                p.px-5
                                    if companies_urls[`${item.company}`]
                                        a(href=`${companies_urls[`${item.company}`].page_url}`, target="_blank", title=`Car insurance in ${item.company}`)
                                            img.img-fluid(src=item.logo)
                                    else
                                        img.img-fluid(src=item.logo)
if goodDrivers
    .container.py-3
        .row
            .col
                p.h2.text-uppercase Discounts for good drivers in #{stateTitle}
                p.lead
                    | Good driving records can help you save money on car insurance premiums, companies use it as a way to determine the level of the driver&apos;s responsibility. Less risky driver is a more affordable customer for an insurance company.
        .row
            .col.text-center
                p(style='font-size: 5em;')
                    span.rounded-circle
                        i.fas.fa-car-alt
                p.lead
                    b
                        | Two or more cars
                        br
                        | up to 25% discount
            .col.text-center
                p(style='font-size: 5em;')
                    span.rounded-circle
                        i.fas.fa-car-crash
                p.lead
                    b
                        | No accidents
                        br
                        | up to #{goodDrivers.no_accidents}% discount
            .col.text-center
                p(style='font-size: 5em;')
                    span.rounded-circle
                        i.fas.fa-tachometer-alt
                p.lead
                    b
                        | No trafic tickets
                        br
                        | up to #{goodDrivers.no_trafic_tickets}% discount
            .col.text-center
                p(style='font-size: 5em;')
                    span.rounded-circle
                        i.fas.fa-credit-card
                p.lead
                    b
                        | Good credit score
                        br
                        | up to #{goodDrivers.good_credit}% discount
if youngDrivers
    .container.py-3
        .row
            .col
                p.h2.text-uppercase Car insurance for young drivers in #{stateTitle}
                p.lead
                    | Young drivers across the U.S. pay more than others. Lack of driving experience entails various risks, that is why the cost of car insurance for such customers is about three times bigger than the national average and sometimes more.
                table.table.table-sm.table-hover.table-borderless.table-striped
                    thead
                        tr
                            th.w-50 Age
                            th(scope='col') Avg. Monthly Premium
                    tbody
                            tr
                                td 16
                                td #{youngDrivers.age16} $
                            tr
                                td 17
                                td #{youngDrivers.age17} $
                            tr
                                td 18
                                td #{youngDrivers.age18} $
                            tr
                                td 19
                                td #{youngDrivers.age19} $
                p.h3.text-uppercase Insurance rate decreases depending on age of driver
                canvas#myChart
| [sc name="states_get_quotes_third" bg_class="#{bgClass}" state_title="#{stateTitle}" seal_img_url="#{sealUrl}"]
.container.py-3
    .row
        .col
            p.h2.text-uppercase How do tickets affect the cost of car insurance in #{stateTitle}
            p.lead
                | Having tickets will likely increase your car insurance rates. The degree of increase depends on the type of offense. There are serious violations like Hit and Run or DUI that will enhance your car insurance premium by #{ticketAffection.hitAndRunRateIncreasePercent} % and #{ticketAffection.duiRateIncreasePercent} $ respectively. There are also tickets, which do not significantly affect the premium such as #{ticketAffection.cheapest}.
            table.table.table-sm.table-hover.table-borderless.table-striped
                thead
                    tr
                        th Violation
                        th Avg. Monthly Rate
                        th Increase Percent
                        th Insurance Rate Increase
                tbody
                    each item in ticketAffection.data
                        tr(title=`Getting a ticket for ${item.violation} violation will highly likely raise your annual premium by ${item.rateIncreasePercent}% up to ${item.avgRate * 12} $`)
                            td #{item.violation}
                            td #{item.avgRate} $
                            td #{item.rateIncreasePercent} %
                            td #{item.rateIncrease} $

.container.py-3
    .row
        .col
            p.h2.text-uppercase What are the car insurance laws in #{stateTitle}
            p.lead
                | Auto insurance laws varies by state. Below you can find relative information regardless car insurance in #{stateTitle}.
            p.h3.text-uppercase Minimum coverage requirements in #{stateTitle}:
            ul
                if minReqs.requirements.personal_injury_protection
                    li= minReqs.text.personal_injury_protection
                if minReqs.requirements.property_protection_insurance
                    li= minReqs.text.property_protection_insurance
                if minReqs.requirements.medical_payments
                    li= minReqs.text.medical_payments
            p.h4.text-uppercase Liablility
            ul
                if minReqs.requirements.property_damage
                    li #{minReqs.text.property_damage} : #{minReqs.requirements.property_damage}
                if minReqs.requirements.bodily_injury_per_person
                    li #{minReqs.text.bodily_injury_per_person} : #{minReqs.requirements.bodily_injury_per_person}
                if minReqs.requirements.bodily_injury_per_accident
                    li #{minReqs.text.bodily_injury_per_accident} : #{minReqs.requirements.bodily_injury_per_accident}
                if minReqs.requirements.uninsured_underinsured_motorist
                    li #{minReqs.text.uninsured_underinsured_motorist}
                if minReqs.requirements.property_damage_per_accident
                    li #{minReqs.text.property_damage_per_accident} : #{minReqs.requirements.property_damage_per_accident}

            p.h4.text-uppercase Optional coverage
            ul
                if minReqs.requirements.comprehensive
                    li= minReqs.text.comprehensive
                if minReqs.requirements.collision
                    li= minReqs.text.collision
                if minReqs.requirements.loan_lease_payoff
                    li= minReqs.text.loan_lease_payoff
                if minReqs.requirements.medical_services
                    li= minReqs.text.medical_services
                if minReqs.requirements.funeral_services
                    li= minReqs.text.funeral_services
                if minReqs.requirements.additional_medical_coverage
                    li= minReqs.text.additional_medical_coverage
                if minReqs.requirements.rental_car_reimbursement
                    li= minReqs.text.rental_car_reimbursement
                if minReqs.requirements.roadside_assistance
                    li= minReqs.text.roadside_assistance
                if minReqs.requirements.supplemental_uninsured_underinsured_motorist_bodily_injury_sum
                    li= minReqs.text.supplemental_uninsured_underinsured_motorist_bodily_injury_sum
                if minReqs.requirements.uninsured_underinsured_motorist_coverage
                    li= minReqs.text.uninsured_underinsured_motorist_coverage
                if minReqs.requirements.uninsured_motorist_property_damage
                    li= minReqs.text.uninsured_motorist_property_damage
                if minReqs.requirements.uninsured_motorist_bodily_injury
                    li= minReqs.text.uninsured_motorist_bodily_injury
                if minReqs.requirements.uninsured_underinsured_motorist_bodily_injury
                    li= minReqs.text.uninsured_underinsured_motorist_bodily_injury
                if minReqs.requirements.uninsured_underinsured_motorist_property_damage
                    li= minReqs.text.uninsured_underinsured_motorist_property_damage
                if minReqs.requirements.additional_personal_injury_protection
                    li= minReqs.text.additional_personal_injury_protection
                if minReqs.requirements.optional_basic_economic_loss
                    li= minReqs.text.optional_basic_economic_loss
                if minReqs.requirements.income_loss
                    li= minReqs.text.income_loss
                if minReqs.requirements.wage_loss
                    li= minReqs.text.wage_loss
                if minReqs.requirements.bodily_injury
                    li= minReqs.text.bodily_injury
                if minReqs.requirements.limited_property_damage
                    li= minReqs.text.limited_property_damage
                if minReqs.requirements.uninsured_motorist
                    li= minReqs.text.uninsured_motorist
                if minReqs.requirements.extended_medical_benefits
                    li= minReqs.text.extended_medical_benefits
                if minReqs.requirements.death_benefit_coverage
                    li= minReqs.text.death_benefit_coverage
                if minReqs.requirements.guest_personal_injury_protection
                    li= minReqs.text.guest_personal_injury_protection
                if minReqs.requirements.accidental_death
                    li= minReqs.text.accidental_death
                if minReqs.requirements.total_disability
                    li= minReqs.text.total_disability
            if minReqs.requirements.is_no_fault_state
                p
                    | #{stateTitle} is a no-fault state, which means that you're required to cover you and your passengers’ medical expenses and loss of income in the event of a covered accident, regardless of who is found at fault.

| [sc name="states_get_quotes_bottom" bg_class="#{bgClass}" state_title="#{stateTitle}" seal_img_url="#{sealUrl}"]
| [sc name="state_pages_scripts" young_drivers_data="#{youngDrivers.chartData}"]
